@import "tailwindcss";



@theme {
  --color-background: #F9FAFB;
  --color-card: #FFFFFF;
  --color-textPrimary: #1F2937;
  --color-textSecondary:#4B5563;
  --color-accent: #2563EB;
  --color-success: "#16A34A;
  --color-error: "#DC2626";
  --color-warning: "#D97706";
  --color-muted: "#E5E7EB";
}